@media only screen and (max-width: 1024px) {
  /* small tablet to big tablet: from 768px to 1024pxpx */
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url(/css/img/1024pxx.jpg) !important;
    height: 70vh !important;
    background-size: cover !important  ;
  }

  /* .container {
    padding: 0 !important;
    max-width: 800px !important;
  } */

  .hero-text-box {
    top: 25% !important;
  }
  .hero-text-box p {
    font-size: 80% !important;
  }

  h1 {
    font-size: 400% !important;
  }

  .logo {
    margin-top: 30px !important;
    font-size: 180% !important;
  }

  .main-nav {
    margin-top: 58px !important;
  }

  .span-1-of-2 p {
    margin: 3% 0 5% 0 !important;
  }
  form .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 991px) {
  /* small phones to small tablets: from 0 to 481px  tp 767px */
  .main-nav {
    margin-top: 45px !important;
  }

  html {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 768px) {
  /* Start of medium tablet styles */
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url(/css/img/768px1.jpg) !important;
    height: 70vh !important;
  }

  .hero-text-box {
    top: 25% !important;
  }
  .hero-text-box p {
    font-size: 100% !important;
  }

  h1 {
    font-size: 400% !important;
  }

  .main-nav {
    display: none !important;
  }
  .logo {
    font-size: 200% !important;
    margin-top: 0 !important;
  }

  section.why-us img {
    width: 50% !important;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .reason p {
    font-size: 90% !important;
  }

  blockquote {
    font-size: 85%;
    padding: 4% 0.3% 0 2% !important;
  }
  .span-1-of-2 {
    padding: 0 20px;
  }
  .span-1-of-2 p {
    margin-left: 4px;
  }

  cite {
    font-size: 17px !important;
  }
  cite img {
    height: 45px !important;
    margin-right: 4px;
  }

  form {
    padding: 30px 25px !important;
  }

  form .row {
    padding: 0;
  }

  input,
  textarea {
    width: 96% !important;
    font-size: 100%;
  }
  .review-section .span-1-of-2 {
    width: 100% !important;
  }
  .span-1-of-2 p {
    display: block;
    text-align: center !important;
  }
  blockquote {
    font-size: 100%;
    padding: 4% 0.3% 0 2% !important;
    text-align: center !important;
  }
  .house {
    display: none;
  }
  cite {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  /* small phones: from 0 to 480px */
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url(/css/img/520px.jpg) !important;
    height: 70vh !important;
  }

  html {
    font-size: 12px !important;
  }
  .container {
    padding: 0 !important;
  }
  h1 {
    font-size: 400% !important;
  }
  .hero-text-box p {
    color: white;
    max-width: 80% !important;
    line-height: 180% !important;
    font-weight: 100;
    margin-top: 30px;
    font-size: 110% !important;
  }
  h3 {
    font-size: 140% !important;
  }

  h4 {
    font-size: 130% !important;
  }

  .logo {
    float: left;
    color: white;
    font-size: 180% !important;
    font-weight: 600;
    margin-top: 18px;
    letter-spacing: 1px;
  }
  .featured-slider {
    padding: 0 40px 15px 40px;
  }
  .span-1-of-3 p {
    margin-top: 15px !important;
    margin-bottom: 25px;
  }
  .box .home-picture {
    width: 100%;
    height: 180px !important;
  }
  .card-details {
    margin: 7px 0;
  }

  .top-padding {
    padding-top: 30px;
  }
  .reason {
    margin-top: 12px !important;
  }

  .featured-slider {
    padding: 0 40px 15px 40px !important;
  }

  form {
    width: 85% !important;
    padding: 10px !important;
  }
}
