* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Questrial;
  text-rendering: optimizeLegibility;
}
html {
  color: black;
  font-size: 20px;
}

section {
}
/*******************************/
/**HEADER**/
/*******************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url(/css/img/HERO-IMAGE.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
.container {
  padding: 0 20px;
}
.main-nav {
  font-weight: 300;
  margin-top: 35px;
}

.main-nav li {
  /* margin-right: 40px; */
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  font-size: 65%;
  text-decoration: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: #fff;
}

.navbar i {
  color: #684138;
  padding: 8px;
  background: white;
  font-size: 150%;
}
/*******************************/
/**Overlay**/
/*******************************/

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #3e2621;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #684138;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*******************************/
/**Reusable Components**/
/*******************************/

/* .container {
  padding: 0 70px;
  width: auto;
  height: auto;
} */

.wrap {
  padding: 0 3%;
  /* margin: 0 auto; */
}

.title {
  font-weight: 600;
  margin-bottom: 60px;
}

.section-seperator {
  padding: 80px 0;
}

/*******************************/
/**HEADINGS**/
/*******************************/
h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  color: white;
  font-size: 400%;
}
/* h3 {
  font-size: 180%;
} */
h3,
h4,
h5 {
  text-align: center;
}

h4:after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background-color: #684138;
  margin: 0 auto;
  margin-top: 20px;
}

h4 {
  font-size: 140%;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 2px;
}

h5 {
  font-size: 110%;
}
/*******************************/
/**HERO**/
/*******************************/
.hero-text-box {
  position: absolute;
  top: 30%;
  text-align: center;
}

.hero-text-box p {
  color: white;
  max-width: 50%;
  line-height: 150%;
  font-weight: 100;
  margin-top: 30px;
  font-size: 80%;
}
.remove-linebreak {
  white-space: nowrap;
}

.logo {
  display: inline-block;
  color: white !important;
  font-size: 120%;
  font-weight: bold;
  margin-top: 18px;
  letter-spacing: 1px;
}
.logo span {
  color: #684138;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  word-spacing: 0px;
  vertical-align: top;
}

.btn-light-brown {
  background-color: #684138;
  vertical-align: middle;
  width: auto;
  padding: 3px;
  text-align: center;
  border: none;
  color: white !important;
}

.login {
  width: 30px;
  background-color: #3e2621;
  vertical-align: middle;
  border-radius: 5px;
}

.login img {
  width: 100%;
  padding: 8px;
}

.main-nav .btn-light-brown {
  border-radius: 5px;
}
/* ................ */
/* SELECT DROPDOWNS */
/* ................ */

select {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  color: black;
  border: 0;
  font-size: 80%;
  outline: none;
  background: white;
}

.col-btn-container {
  height: 100%;
  width: 100%;
}
button img {
  width: 20px;
  height: auto;
  margin: 10px;
}
.box-shadow {
  box-shadow: 0px 2px 40px 2px #a9a9a935;
  border-radius: 7px;
}

.top-margin {
  margin-top: 10%;
}
.top-padding {
  padding-top: 10%;
}
.bottom-padding {
  padding-bottom: 80px;
}

/* CARDS */

.featured-section .row:nth-child(2) {
  max-width: 1120px;
}
.featured-slider {
  padding-bottom: 15px;
}
.box {
  margin: 5px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.19), 0 3px 4px rgba(0, 0, 0, 0.23);
}
.box .home-picture {
  width: 100%;
  height: 360px;
}

.arrow-align-right {
  text-align: right;
  margin-top: 16px;
}

.arrow-align-right i:last-child {
  margin-right: 0;
}

.arrow-font {
  font-size: 100%;
  padding: 5px;
  margin: 0 3px;
}
.card-title {
  margin: 7px 0 0 10px;
  font-size: 80%;
  font-weight: 600;
}

.card-details {
  margin: 15px 0;
}
.bathroom-details,
.price-details,
.bedroom-details {
  font-size: 80%;
  font-weight: 600;
  padding: 0 15px;
  text-align: center;
  border-right: #8d8b8b solid 1px;
}
.bathroom-details {
  display: inline-block;
}
.bedroom-details {
  display: inline-block;
}
.price-details {
  display: inline-block;
  border-right: none;
  padding: 0 7px;
}

.icon-small {
  display: inline-block;
  width: 18px;
  height: 100%;
  color: #cfcfcf;
}

.arrow-font {
  color: #684138;
  /* 3e2621 */
}

.icon-small {
  vertical-align: middle;
}

section.why-us {
  background-color: #3e2621;
}
section.why-us p {
  text-align: center;
  font-size: 70%;
}
section.why-us span {
  color: #8d8b8b;
}

section.why-us img {
  width: 30%;
  height: auto;
  display: block;
  margin: 30px 20px;
}

.span-1-of-3 p {
  margin-top: 35px;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
}

.review-section {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.review-section .row {
  max-width: 1000px;
  margin: 0 auto;
}

.span-1-of-2 p {
  margin: 10px 0 15% 0;
  font-weight: 700;
}

cite {
  font-size: 90%;
  font-style: normal;
  font-weight: 600;
}

cite img {
  height: 65px;
  border-radius: 50%;
  vertical-align: middle;
}

blockquote {
  position: relative;
  line-height: 145%;
  margin-top: 20%;
  padding: 5% 15% 4% 0;
  font-style: italic;
  font-weight: 600;
  color: #8d8b8b;
}

blockquote:before {
  content: "\201C";
  position: absolute;
  top: -5px;
  left: -10px;
  display: block;
  color: #684138;
  font-size: 500%;
  font-weight: bolder;
  font-style: normal;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.quote {
  content: "\201D";
  display: inline-block;
  font-size: 700%;
  color: #684138;
  line-height: 100%;
}
.house {
  width: 100%;
  height: 90%;
}

/* Contact-us Section */
.contact-us h3::after {
  display: none;
}
form {
  border: 3px solid #af8177;
  padding: 30px;
  width: 60%;
  margin: 40px auto;
}

textarea {
  border: none;
  border-bottom: 1px solid #8d8b8b;
  width: 90%;
  height: 70px;
  margin: 25px 0;
}

input {
  border: none;
  border-bottom: 1px solid#8d8b8b;
  height: 30px;
  width: 90%;
  margin: 25px 0;
}

.submit-button {
  display: inline-block;
  background-color: #684138;
  padding: 15px;
  border-radius: 3px;
  width: auto;
  height: auto;
  float: right;
}

form i {
  color: white;
}

form p {
  font-weight: 600;
}

/* FOOTER */

footer {
  background-color: #684138;
}

footer h3 {
  color: white;
  margin: 30px;
}
footer h3::after {
  display: none;
}
footer h3 span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 150%;
}

footer i {
  width: 30px;
  height: auto;
}
