@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Product Sans;
}
html {
  background-color: rgb(247, 245, 245);
  color: black;
  font-size: 20px;
}
/*******************************/
/**HEADER**/
/*******************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url(/css/img/HERO-IMAGE.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 35px;
}

.main-nav li {
  display: inline-block;
  margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  font-size: 80%;
  text-decoration: none;
}

/*******************************/
/**Reusable Components**/
/*******************************/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.wrap {
  padding: 0 3%;
  margin: 0 auto;
}

/*******************************/
/**HEADINGS**/
/*******************************/
h1,
h2,
h3 {
  font-size: 400%;
  font-weight: 100;
}

h1 {
  color: white;
}

h4 {
  font-size: 120%;
  text-align: center;
}

/*******************************/
/**HERO**/
/*******************************/
.hero-text-box {
  position: absolute;
  top: 30%;
}
.hero-text-box p {
  color: white;
  max-width: 42%;
  font-size: 75%;
  line-height: 150%;
  font-weight: 100;
  margin-top: 30px;
}
.remove-linebreak {
  white-space: nowrap;
}

.logo {
  float: left;
  color: white;
  font-size: 140%;
  font-weight: 200;
  margin-top: 36px;
}

.btn-light-brown {
  background-color: #69473b;
}

.main-nav .btn-light-brown {
  padding: 10px 5px 10px 15px;
  border-radius: 5px;
}

.btn-light-brown span {
  background-color: white;
  color: #69473b;
  padding: 2px 6px;
  margin-left: 10px;
  border-radius: 5px;
}
.top-margin {
  margin-top: 10%;
}
